<script>
    function show_img() {
        var file = document.getElementById('file').files[0];
        var reader  = new FileReader();
        reader.onload = function(e)  {
            //document.getElementById("img").src= e.target.result;
			document.getElementById("img").innterHTML= '<img src="'+e.target.result+'">';
         }
         reader.readAsDataURL(file);
     }
</script>


<!doctype html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dog Breed Classifier</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
  </head>
  <body>
	<p>
		<h1>
			Upload a picture of a dog or human to determine their dog breed!
		</h1>
	</p>
	
	<form action="/classify" enctype="multipart/form-data" method="POST" > 
		<h3> Choose an Image </h3>			
		
			<input id = "file" type="file"  name = "file" required>
			
		<div> 
		<input type="submit" value="Submit" id ="submit">
		</div>
	</form>
		
	<br>
		{% if msg %}
			<div>
				<img src ={{img}} id = "img"/>
				<br>
				<h3> {{msg}} </h3> 
			</div>
		{% else %}
		<img width="512" alt="Breeds of dog from The Yuzhakov&#039;s Bolshaya Enc. (1904) part 2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Breeds_of_dog_from_The_Yuzhakov%27s_Bolshaya_Enc._%281904%29_part_2.jpg/512px-Breeds_of_dog_from_The_Yuzhakov%27s_Bolshaya_Enc._%281904%29_part_2.jpg">
		{% endif %}
	
  </body>
</html>
<!https://tutorial101.blogspot.com/2021/04/python-flask-upload-and-display-image.html>
<! https://flask.palletsprojects.com/en/2.2.x/patterns/flashing/   >
<! https://flask.palletsprojects.com/en/2.2.x/quickstart/#file-uploads >
<! https://realpython.com/html-css-python/ >


